# Exercice 1 :

In [1]:
# Remplir 1 liste d'apprenants, afficher le nb des enregistrés ainsi q le 1er et le dernier de la liste

In [6]:
apprenant1 = 'Niyaz'
apprenant2 = 'JP'
apprenant3 = 'Gauthier'
apprenant4 = 'Grég'
apprenant5 = 'Modou'
apprenant6 = 'Christian'
apprenant7 = 'Séb'

apprenants = ['Niyaz', 'JP', 'Gauthier', 'Grég', 'Modou', 'Christian', 'Séb']
print(apprenants)

['Niyaz', 'JP', 'Gauthier', 'Grég', 'Modou', 'Christian', 'Séb']

In [24]:
len(apprenants)

7

In [7]:
apprenants[0]

'Niyaz'

In [8]:
apprenants[6]

'Séb'

In [9]:
print(apprenants[-1])

Séb

In [ ]:
# Ajter, 1 nouvel apprenant et afficher la liste finale

In [10]:
apprenants.append('Ana')
print(apprenants)

['Niyaz', 'JP', 'Gauthier', 'Grég', 'Modou', 'Christian', 'Séb', 'Ana']

In [11]:
len(apprenants)

8

In [12]:
a = ['Niyaz', 'JP', 'Gauthier', 'Grég', 'Modou', 'Christian', 'Séb']
b = ['Ana']
x = [a,b]
print(x)

[['Niyaz', 'JP', 'Gauthier', 'Grég', 'Modou', 'Christian', 'Séb'], ['Ana']]

In [2]:
# Supprimer des éléments d'1 liste :

In [3]:
# Avec del : del variable à supprimer

In [13]:
del apprenants [3]
apprenants

['Niyaz', 'JP', 'Gauthier', 'Modou', 'Christian', 'Séb', 'Ana']

In [4]:
# Avec la méthode remove : prend en paramètre l'élément (et non pas l'indice de l'élément à supprimer (pop)

In [17]:
apprenants.remove('JP')
print(apprenants)

ValueError: list.remove(x): x not in list

Pour plus de détails : [La documentation officielle de Python](https://docs.python.org/fr/3/tutorial/controlflow.html#the-range-function)

# Exercice 2 :

In [18]:
# Soit la liste suivante :
# weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [20]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']
print(weekdays)

['mon', 'tues', 'wed', 'thurs', 'fri']

In [21]:
# Afficher le 1er element de la liste

In [22]:
weekdays[0]

'mon'

In [23]:
# Afficher les elements 0 (inclus) à 3 (exclus)

In [24]:
weekdays[0:3]

['mon', 'tues', 'wed']

In [25]:
# Afficher avec 1 pas de 2 (les indices: 0,2,4)

In [33]:
(weekdays[::2])

['mon', 'wed', 'fri']

In [32]:
print(weekdays[0:5:2])

['mon', 'wed', 'fri']

In [28]:
for i in range(len(weekdays)):
    print(i, weekdays[i])

0 mon
1 tues
2 wed
3 thurs
4 fri

In [29]:
# Afficher la liste inversée

In [71]:
weekdays_inversee = weekdays[::-1]
weekdays_inversee

['fri', 'thurs', 'wed', 'tues', 'mon']

In [ ]:
# Afficher la liste triée

In [38]:
weekdays.sort
weekdays

['mon', 'tues', 'wed', 'thurs', 'fri']

In [39]:
weekdays_triee = sorted(weekdays)
print(weekdays_triee)

['fri', 'mon', 'thurs', 'tues', 'wed']

In [40]:
# Afficher la liste inversement triée

In [41]:
weekdays_triee_inversee = weekdays_triee[::-1]
weekdays_triee_inversee

['wed', 'tues', 'thurs', 'mon', 'fri']

In [8]:
print(weekdays[::-1])

['wed', 'tues', 'thurs', 'mon', 'fri']

In [42]:
weekdays.sort() 
weekdays.reverse() 
print(weekdays)

['wed', 'tues', 'thurs', 'mon', 'fri']

In [43]:
weekdays.sort(reverse=True) 
print(weekdays)

['wed', 'tues', 'thurs', 'mon', 'fri']

# Exercice 3 :

In [ ]:
# Soit 1 liste : 
# a=[0,3,1]

In [ ]:
# Créer 1 tuple t à partir de la liste a et afficher son length

In [48]:
a=[0,3,1]

In [49]:
t = tuple(a)
print('Tuple',t)
print('Longueur du Tuple:', len(t))

Tuple (0, 3, 1)
Longueur du Tuple: 3

In [52]:
t = tuple(a)
print(t,type(t),lent(t))

NameError: name 'lent' is not defined

In [ ]:
# Compter le nb d'instances de 0 ds t

In [53]:
element = 3
index = t.index(element)
print('Tuple:',t)
print(f'L index de la première occurence de l élément {element} est :', index)

Tuple: (0, 3, 1)
L index de la première occurence de l élément 3 est : 1

In [ ]:
# Trver l'index de la 1ere instance de cet element trvé

t.index(o)

In [ ]:
# Q remarquez-vs si vs lancer la commande ci-dessous
#t[2] = 2

In [55]:
elements = 2
index1 = t.index(elements)
print('Tuple:',t)
print(f'L index de la première occurence de l élément {elements} est :', index1)

ValueError: tuple.index(x): x not in tuple

In [ ]:
# On ne pt pas changer 1 Tuple. Lorsqu'on lance le tuple [2], cela ne pt pas marcher.
# On ne pt pas modifier des valeurs à l'intérieur du tuple

In [ ]:
# Ajter au tuple t, les 2 elements (3, 4)

In [57]:
t +=
t= t+(3/4)
print(t)

SyntaxError: invalid syntax (997909122.py, line 1)

In [58]:
# Trier le tuple t

In [59]:
list_tuple=list(t)

[La Reference complete est ici](https://docs.python.org/fr/3/tutorial/datastructures.html)

# Exercice 4 :

In [ ]:
# Créer le dictionnaire suivant et le stocker dans 1 v.a d1 :
# age: 20
# nom: "Doe"

In [ ]:
# Créer 1 second dictionnaire d2 contenant les valeurs suivantes :
# age: 22
# firstname: "John"
# adresse: "Paris"

In [ ]:
# Fusionner le dictionnaire d1 ds d2

In [60]:
D1 = {'Age' : '20 ans', 'nom' : 'Doe'}
D2 = {'Age' : '22 ans', 'firstname' : 'John', 'adresse' : 'Paris'}
D2.update(D1)
print(D2)

{'Age': '20 ans', 'firstname': 'John', 'adresse': 'Paris', 'nom': 'Doe'}

In [61]:
# A l'aide d'1 boucle for afficher à la fois la clé du dictionnaire d2 et sa valeur pr chaque élément

In [62]:
for key, value in D2.items():
    print(f'clé: ,{key}, Valeur: {value}')

clé: ,Age, Valeur: 20 ans
clé: ,firstname, Valeur: John
clé: ,adresse, Valeur: Paris
clé: ,nom, Valeur: Doe

In [63]:
# Supprimer la clé adresse du dictionnaire d2

In [64]:
D = D2.copy()
D.pop('adresse')
print(D)

{'Age': '20 ans', 'firstname': 'John', 'nom': 'Doe'}

# Exercice 5 :

In [ ]:
# Coder 1 fonct° duplicate_last_item qui prend 1 liste en argument et qui lui rajoute le dernier élément
# par exemple si l = [1, 2, 3] après application de la fonction l doit être égale à [1, 2, 3, 3]

In [19]:
L = [1, 2, 3]

In [69]:
def duplicate_last_item(list):
    if list:
        list.append(list[-1])
        return list

In [70]:
def duplicate_last_item(list):
    if list:
        list=list+[list[-1]]
        return list

In [71]:
duplicate_last_item(L)

NameError: name 'L' is not defined

# Exercice 6 :

In [ ]:
# Coder 1 fonct° multiply_liste qui prd en argument 1 liste et retourne 1 liste dont ts les éléments st multipliés par 1 coefficient 𝛼 donné en argument

In [ ]:
def multiply_list(l, alpha):
    return [element * alpha for element in list]

# Exemple d'utilisation
l = [1, 2, 3]
alpha = 2
# Cela imprimera [2, 4, 6, 8, 10]
resultat = multiply_list(l, alpha)
print(resultat)

In [ ]:
def multiply_list(l, alpha):
    new_list = []
    for i in l:
        new_list.append(ialpha)
    return new_list,new_listalpha

l = [1, 2, 3]
alpha = 2
multiply_list(l, alpha)

In [72]:
def multiply_list(l, alpha):
    return[x*alpha for x in l]
           
    l = [1, 2, 3]
    alpha = 2
    multiply_list(l, alpha)

In [73]:
def multiply_listl(l, alpha):
    res = []
    for x in 1 : 
        res.append(x*alpha)
        return res

In [75]:
# Coder 1 fonct° filter_even_values qui filtre ttes les valeurs paire d'1 liste

def filter_even_values(liste):
    return[x for x in liste if x%2 ==0]
l = [1, 2, 3, 4, 5, 6]
filter_even_values(l)

[2, 4, 6]

In [77]:
def filter_even_values(l):
    ll=[]
    for i in l:
        if i%2==0:
            ll.append(i)

    return ll

# Exercice 7 :

In [ ]:
# Coder la fonct° is_adult qui affiche "mineur" si le nb en entré est < à 18, "adulte" si >= à 18 et < à 65 et "senior" sinon

In [78]:
def is_adult(age):
    if age <18:
        return('mineur')
    elif age >=18 and age<65:
        return('adulte')
    else:
        return('senior')

In [79]:
is_adult(60)

'adulte'

# Exercice 8 :

In [ ]:
# Coder la fonct° average qui prend en argument 1 liste de nb et qui retourne la moyenne de celle-ci 
# On utilisera 1 boucle for obligatoirement

In [81]:
def average(list):
    totla_sum = 0
    count = 0
    if list:
        for elt in list:
            total_sum += elt
            count +=1
            return

In [82]:
def average(numbers):
    total = 0
    for number in numbers:
        total += number
    return total / len(numbers)

print(average([1, 2, 3, 4, 5]))

3.0

# Exercice 9 :

In [ ]:
# Faire 1 fonct° reverse_string qui prend en argument 1 chaîne de caractère et qui retourne la chaîne retournée

In [83]:
def reverse_string(string:str) -> str:
    return string[::-1]
    
reverse_string('SARTORIS')

'SIROTRAS'